<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
>
<head>
    <title>Admin - Welcome</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">
</head>
<body>
<h1 th:inline="text">Welcome [[${#httpServletRequest.remoteUser}]]!</h1>
<p>This is the admin console, restricted to administrators only.</p>

<div class="container my-2">
    <h1>
        Costumers List
    </h1>
    <table border="1" class = "table table-striped table-responsive-md">
        <thead>
        <tr>
            <th> Costumer ID</th>
            <th> Costumer First Name</th>
            <th> Costumer Last Name</th>
            <th> Costumer User Name</th>
            <th> Costumer E-mail</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="client: ${clients}">
            <td th:text="${client.id}"></td>
            <td th:text="${client.firstname}"></td>
            <td th:text="${client.lastname}"></td>
            <td th:text="${client.username}"></td>
            <td th:text="${client.email}"></td>
        </tr>
        </tbody>
    </table>
</div>

<form th:action="@{/logout}" method="post">
    <input type="submit" value="Sign Out"/>
</form>
</body>
</html>
