<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="ISO-8859-1">
    <title>AutoFix</title>

    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">

</head>
<header><div th:replace="Navbar::header"></div></header>
<body>
<br>
<br>
<div class = "container">
    <div class = "row">
        <div class = "col-md-6 col-md-offset-3">
            <h1> Welcome to AutoFix "your local car and repair dealership" </h1>
                <div class="form-group">
                    <div class="row">
                        <form  th:action="@{/application}" method="GET">
                            <div class="col-sm-6 col-sm-offset-3">
                            <input type="submit" name="login-submit" id="login-submit"
                                   class="form-control btn btn-primary" value="Enter the world of Autofix" />
                                <div sec:authentication="name">
                                      The value of the "name" property of the authentication object should appear here.
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

        </div>
    </div>
</div>
</body>
</html>

