<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create User</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">
</head>
<header><div th:replace="Navbar::header"></div></header>
<body>
<br>
<br>
<br>
<br>
<div class="container my-2">

         <h1 th:inline="text">Maintenance Requests by [[${#httpServletRequest.remoteUser}]]</h1>
    <table border="1" class = "table table-striped table-responsive-md">
        <thead>
        <tr>
            <th> Maintenance ID</th>
            <th> Maintenance type</th>
            <th> Price</th>
            <th> Check in date</th>
            <th> Check out date</th>
            <th> Maintenance Log</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="maintenance: ${clientMaintenance}">
            <td th:text="${maintenance.id}"></td>
            <td th:text="${maintenance.type}"></td>
            <td th:text="${maintenance.price}"></td>
            <td th:text="${maintenance.checkInDate}"></td>
            <td th:text="${maintenance.checkOutDate}"></td>
            <td th:text="${maintenance.jobHistory}"></td>
        </tr>
        </tbody>
    </table>
</div>
<br>
<br>
Make a Maintenance Request
<form action="#" th:action="@{/createMaintenanceAsClient}" th:object="${maintenanceObj}" method="GET">
    Maintenance Type : <label>
    <select th:field="*{type}">
    <option value="Tire Change">Tire Change</option>
    <option value="Motor Checkup">Motor CheckUp</option>
    <option value="Impact repair">Impact repair</option>
    </select>
</label>
    <br>

    <button name="submit" type="submit" value="0">Submit</button>
</form>
</body>
</html>
