<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Incoming Maintenance Requests</title>

    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">


</head>
<header><div th:replace="Navbar::header"></div></header>
<body>
<br>
<br>
<div class="container my-2">
    <h1>
Maintenance Request from Costumers    </h1>
    <table border="1" class = "table table-striped table-responsive-md">
        <thead>
        <tr>
            <th> Maintenance ID</th>
            <th> Maintenance type</th>
            <th> Price</th>
            <th> Check in date</th>
            <th> Check out date</th>
            <th> Maintenance Log</th>
            <th>Customer ID</th>
            <th>Settings</th>

        </tr>
        </thead>
        <tbody>
        <tr th:each="maintenance: ${allMaintenances}">
            <td th:text="${maintenance.id}"></td>
            <td th:text="${maintenance.type}"></td>
            <td th:text="${maintenance.price}"></td>
            <td th:text="${maintenance.checkInDate}"></td>
            <td th:text="${maintenance.checkOutDate}"></td>
            <td th:text="${maintenance.jobHistory}"></td>
            <td th:text="${maintenance.mainten_client.id}"></td>
            <td>
                <a th:href="@{'/editMaintenance/'+${maintenance.id}}">Edit</a>
            </td>

        </tr>
        </tbody>
    </table>
</div>
<br>


</body>
</html>
