<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>


    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">
</head>

<div class="navbar navbar-inverse navbar-fixed-top" th:fragment="header">
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed"
                    data-toggle="collapse" data-target="#navbar" aria-expanded="false"
                    aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span> <span
                    class="icon-bar"></span> <span class="icon-bar"></span> <span
                    class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"  th:href="@{/application}">Home</a>
            <a class="navbar-brand" href="#"  sec:authorize="isAnonymous()" th:href="@{/login}">Login</a>
            <a class="navbar-brand" href="#" sec:authorize="isAnonymous()"  th:href="@{/signUp}">SIGN UP</a>
            <a class="navbar-brand" href="#" th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}" th:href="@{/Employee}">Admin Console</a>
            <a class="navbar-brand" href="#" th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}" th:href="@{/createAdmin}">Create Employee</a>
            <a class="navbar-brand" href="#" th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}" th:href="@{/createSparePart}">Create Spare Part</a>
            <a class="navbar-brand" href="#" th:if="${#authorization.expression('hasRole(''ROLE_USER'')')}" th:href="@{/Client}">AutoFix Shop</a>
            <a class="navbar-brand" href="#"  sec:authorize="isAuthenticated()" th:href="@{/logout}">Logout</a>
        </div>
    </div>

</nav>
</div>

</body>
</html>
